body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    width:80%;
    margin: 20px auto;
    overflow:auto;
    padding: 15px;
}

h1{
    color: firebrick;
    text-align: center;
}

nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    background-color: navy;
    border: 2px solid black;
    border-radius: 10px;
    color: firebrick;
    padding: 5px 10px;
    margin-left: 20px;
}

nav a:hover{
    color:navy;
    background-color: black;
}